<template>
  <div id="app" class="wrapper container mrgnbtm">
    <div class="row ml-5">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
// Admin pages

export default {
  name: "App",
  data() {
    return {
      loggedin: false,
      level: 0,
    };
  },
 
  setup() {},
};
</script>

<style>
  @import "./assets/styles/global.css";
</style>
