<template>
  <div id="app" class="wrapper container mrgnbtm">
    <div class="row">
      <LeftMenu v-if="level>0" :level="level" />
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import LeftMenu from "../components/LeftMenu.vue";
import { getLogginedUser } from "../services/LoginService";

export default {
  name: "Dashboard",
  components: {
    LeftMenu,
  },
  data() {
    return {
      level:0
    };
  },
  methods: {
    getLogginedUser() {
      getLogginedUser().then((response) => {
        if(response.code==200){
          this.level = response.data.level;
        }else{
          this.$router.push(response.redirectUrl);
        }
      });
    },
  },
  mounted() {
    this.getLogginedUser();
  },
};
</script>

<style scoped>
  .row {
    padding-left: 0;
  }
</style>
