<template>
  <div class="container">
    <h2>歷史紀錄 Log</h2>

    <div class="row float-right search-section">
      <a class="navbar-brand"></a>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="以動作/人員/內容/時間查詢"
          aria-label="Search"
          v-model="keywords"
        />
      </form>
      <button @click="search" class="btn btn-primary">搜尋</button>
      <button v-if="searchBackBoolean == true && this.keywords !== ''" @click="searchBack" class="btn btn-danger ml-1">返回</button>
    </div>

    <table
      id="dtBasicExample"
      class="table table-bordered table-sm"
      cellspacing="0"
      width="100%"
    >
      <thead>
        <tr>
          <th class="th-sm">動作</th>
          <th class="th-sm">人員</th>
          <th class="th-sm">內容</th>
          <th class="th-sm">時間</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="log in logs" :key="log.id">
          <!-- <div v-for="log in pageOfItems" :key="log.id"></div> -->
          <!-- <tr v-for="log in logs" :key="log.id"> -->
          <td>{{ log.action }}</td>
          <td>{{ log.user }}</td>
          <td>{{ log.content }}</td>
          <td>{{ log.datetime }}</td>
        </tr>
      </tbody>
    </table>
    <paginate
      :page-count="logsPageNum"
      :page-range="3"
      :margin-pages="2"
      :click-handler="pageClick"
      :prev-text="'<'"
      :next-text="'>'"
      :container-class="'pagination'"
      :page-class="'page-item'"
    >
    </paginate>
  </div>
</template>

<script>
import {
  getLogsOnPageOnKeywords,
  getTotalDataCountOnKeywords,
} from "../services/LogService";
// import Swal from "sweetalert2";
import Paginate from "vuejs-paginate-next";

export default {
  name: "Log",
  components: {
    paginate: Paginate,
  },
  data() {
    return {
      keywords: "",
      logs: [],
      logsPageNum: {},
      searchBackBoolean: false,
    };
  },
  
  methods: {
    getLogsOnPageOnKeywords(page) {
      this.keywords = this.keywords.trim();
      getLogsOnPageOnKeywords(page, this.keywords).then((response) => {
        this.logs = response.data;
      });
    },
    getTotalDataCountOnKeywords() {
      this.keywords = this.keywords.trim();
      getTotalDataCountOnKeywords(this.keywords).then((response) => {
        this.logsPageNum = Math.ceil(response.data / 10);
      });
    },
    pageClick(pageClicked) {
      this.getLogsOnPageOnKeywords(pageClicked);
    },
    search() {
      this.getLogsOnPageOnKeywords(1);
      this.getTotalDataCountOnKeywords();
      this.searchBackBoolean = true;
    },
    searchBack() {
      this.keywords = "";
      this.searchBackBoolean = false;
      this.getLogsOnPageOnKeywords(1);
      this.getTotalDataCountOnKeywords();
    },
  },

  mounted() {
    this.getTotalDataCountOnKeywords();
    this.getLogsOnPageOnKeywords(1);
  },
};
</script>

<style>
.w-300 {
  width: 300px;
}
.h-50P {
  height: 50px !important;
}
.b-r-5 {
  border-radius: 5px;
}
.b-grey {
  border-color: #d9d9d9;
}
.search-section {
  margin-right: 1px;
  margin-bottom: 10px;
}
</style>
