<template>
  <div class="container m-5 mr-5">
    <form @submit.prevent="userLogin">
      <div class="text-center">
        <div class="login-img" id="chiperLogo"><img src="../assets/chiperLogo.png" /></div>
        <br />
        <h3>巨普科技 - 機構倉儲管理系統</h3>
        <h4>資料管理員:陳建佑</h4>
      </div>

      <div class="form-group">
        <label>帳號</label>
        <input type="text" class="form-control form-control-lg" v-model="user.username" />
      </div>

      <div class="form-group">
        <label>密碼</label>
        <input type="password" class="form-control form-control-lg" v-model="user.password" />
      </div>

      <button type="submit" class="btn btn-dark btn-lg btn-block">登入</button>
    </form>
  </div>
</template>

<script>
import { userLogin, userLogout } from "../services/LoginService";
import Swal from "sweetalert2";

export default {
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    toastMessage(icon, title) {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });

      Toast.fire({
        icon: icon,
        title: title,
      });
    },
    userLogin() {
      if (!this.user.username) {
        this.toastMessage("error", "登入錯誤：請輸入帳號");
        return;
      }
      if (!this.user.password) {
        this.toastMessage("error", "登入錯誤：請輸入密碼");
        return;
      }
      userLogin(this.user.username, this.user.password)
        .then((response) => {
          // console.log(response);
          if (!response.includes("OK")) {
            this.toastMessage("error", response.msg);
          } else {
            this.$router.push("/Record"); //重新導入到Record頁，replace也可以
            // console.log(this.$router);
            // console.log(this.$router.push);
          }
        })
        .catch((error) => {
          let msg = "";
          if (error.message.includes("401")) {
            msg = "使用者密碼錯誤";
          }
          if (error.message.includes("403")) {
            msg = "此帳號已經在其他設備登入了，請先在其他設備登出後再嘗試重新登入";
          }
          this.toastMessage("error", "登入錯誤：" + msg);
        });
    },
  },
  mounted() {
    userLogout();
  },
};
</script>
<style>
.login-img img {
  width: 400px;
}
</style>
