<template>
  <div class="container">
    <h2>物料 Materials</h2>

    <div>
      <button type="button" class="btn btn-info" @click="addMaterialModal">
        新增物料
      </button>
    </div>
    <br />
    <div class="row float-right search-section">
      <a class="navbar-brand"></a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="以類型/編號/品名查詢" aria-label="Search" v-model="keywords" />
      </form>
      <button @click="search" class="btn btn-primary">搜尋</button>
      <button v-if="searchBackBoolean == true && this.keywords !== ''" @click="searchBack" class="btn btn-danger ml-1">返回</button>
    </div>
    <br />

    <table class="table table-bordered table-hover table-responsive-sm">
      <thead class="table-light">
        <tr>
          <th>類型</th>
          <th>編號</th>
          <th>品名</th>
          <th>規格</th>
          <th>數量</th>
          <th>單位</th>
          <!-- <th>圖片</th> -->
          <th>備註</th>
          <th>編輯</th>
          <th>刪除</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="material in materials" :key="material.id">
          <td>{{ material.category }}</td>
          <td>{{ material.name }}</td>
          <td>{{ material.code }}</td>
          <td>{{ material.standard }}</td>
          <td>{{ material.quantity }}</td>
          <td>{{ material.unit }}</td>
          <!-- <td>{{ material.files }}</td> -->
          <!-- <td><img :src="material.files" /></td> -->
          <td>{{ material.notes }}</td>

          <td>
            <button type="button" class="btn" @click="editMaterialModal(material)">
              編輯
            </button>
          </td>
          <td>
            <button type="button" class="btn" @click="deleteMaterialModal(material.id, material.name)">
              刪除
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginate :page-count="totalPageNum" :page-range="3" :margin-pages="2" :click-handler="pageClick" :prev-text="'<'" :next-text="'>'" :container-class="'pagination'" :page-class="'page-item'"> </paginate>
  </div>
</template>

<script>
import Paginate from "vuejs-paginate-next";
import { getLogginedUser } from "../services/LoginService";

import { getMaterialOnPageOnKeywords, addMaterial, deleteMaterial, editMaterial, getTotalDataCountOnKeywords } from "../services/MaterialService";
import Swal from "sweetalert2";

export default {
  name: "Materials",
  components: {
    paginate: Paginate,
  },
  data() {
    return {
      materials: [],
      keywords: "",
      totalPageNum: 1,
      // files: "", //上傳照片暫存
      searchBackBoolean: false,
      currentPage:1
    };
  },
  methods: {
    getMaterialOnPageOnKeywords(page) {
      this.keywords = this.keywords.trim();
      getMaterialOnPageOnKeywords(page, this.keywords).then((response) => {
        this.materials = response.data;
      });
    },
    pageClick(pageClicked) {
      this.currentPage = pageClicked;
      this.getMaterialOnPageOnKeywords(pageClicked);
    },
    deleteMaterial(materialID) {
      deleteMaterial(materialID).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "物料刪除成功");
          this.getMaterialOnPageOnKeywords(this.currentPage);
        } else {
          this.toastMessage("error", "物料刪除失敗");
        }
      });
    },
    editMaterial(data) {
      editMaterial(data).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "物料編輯成功");
          this.getMaterialOnPageOnKeywords(this.currentPage);
        } else {
          this.toastMessage("error", "物料編輯失敗");
        }
      });
    },

    addMaterial(data) {
      addMaterial(data).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "物料新增成功");
          this.getMaterialOnPageOnKeywords(this.currentPage);
        } else if (response.code == 400) {
          this.toastMessage("error", response.msg);
        } else {
          this.toastMessage("error", "物料新增失敗");
        }
      });
    },
    getTotalDataCountOnKeywords() {
      this.keywords = this.keywords.trim();
      getTotalDataCountOnKeywords(this.keywords).then((response) => {
        this.totalPageNum = Math.ceil(response.data / 10);
      });
    },
    toastMessage(icon, title) {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });

      Toast.fire({
        icon: icon,
        title: title,
      });
    },
    async deleteMaterialModal(id, name) {
      await Swal.fire({
        title: "確定要刪除 - " + name,
        showCancelButton: true,
        confirmButtonText: "確定",
        cancelButtonText: "取消",
      }).then((result) => {
        if (result.isConfirmed) {
          this.deleteMaterial(id);
        }
      });
    },
    async addMaterialModal() {
      const { value: formValues } = await Swal.fire({
        title: "新增物料資訊",
        showCancelButton: true,
        cancelButtonText: "取消",
        confirmButtonText: "新增",
        html:
          '<div>類型：<select class="swal2-select w-300 h-50P b-r-5 b-grey" id="category-input" ><option value="" disabled="">請選擇物料類型</option><option value="機構">機構</option><option value="五金">五金</option><option value="光學">光學</option><option value="線材">線材</option></select></div>' +
          '<div>編號：<input id="name-input" class="swal2-input"></div><br>' +
          '<div>品名：<input id="code-input" class="swal2-input"></div><br>' +
          '<div>規格：<input id="standard-input" class="swal2-input"></div><br>' +
          '<div>數量：<input id="quantity-input" class="swal2-input" type="number" value="1"></div><br>' +
          '<div>單位：<input id="unit-input" class="swal2-input"></div><br>' +
          // '<div style="margin-right:60px">上傳圖片：<label class="btn btn-outline-secondary swal2-select w-200 h-50P b-r-5 b-grey" style="margin-left:20px;">上傳檔案<input id="file-input" type="file" style="display:none;"></label></div><br>' +
          // <p>{{files}}</p>
          '<div>備註：<textarea id="notes-input" class="swal2-textarea"></textarea></div><br>',
        focusConfirm: false,
        preConfirm: () => {
          let categoryVal = document.getElementById("category-input").value;
          let nameVal = document.getElementById("name-input").value.trim();
          let codeVal = document.getElementById("code-input").value.trim();
          let standardVal = document.getElementById("standard-input").value;
          let quantityVal = document.getElementById("quantity-input").value;
          let unitVal = document.getElementById("unit-input").value;
          // let fileVal = document.getElementById("file-input").value;
          // let fileVal = document.getElementById("file-input").files[0].name;
          let notesVal = document.getElementById("notes-input").value;
          if (!nameVal) {
            Swal.showValidationMessage("需要填寫編號喔");
          } else if (!codeVal) {
            Swal.showValidationMessage("需要填寫品名喔");
          } else if (!standardVal) {
            Swal.showValidationMessage("需要填寫規格喔");
          } else if (!quantityVal) {
            Swal.showValidationMessage("需要填數量喔");
          } else if (!unitVal) {
            Swal.showValidationMessage("需要填單位喔");
          } else {
            // let selectedFile = document.getElementById("file-input");
            // selectedFile.addEventListener("click", function(e) {
            // let file = e.target.files[0].name;

            //讀取照片
            // let readFile = new FileReader();
            // readFile.readAsDataURL(file);
            // readFile.addEventListener("load", function(e) {
            //   let fileVal = e.target.result;
            //   console.log(fileVal);
            // });
            // });
            return {
              category: categoryVal,
              name: nameVal,
              code: codeVal,
              standard: standardVal,
              quantity: quantityVal,
              unit: unitVal,
              // files: fileVal,
              notes: notesVal,
            };
          }
        },
      });

      if (formValues) {
        this.addMaterial(formValues);
      }
    },
    async editMaterialModal(material) {
      const { value: formValues } = await Swal.fire({
        title: "編輯物料資訊",
        showCancelButton: true,
        cancelButtonText: "取消",
        confirmButtonText: "儲存",
        html:
          '<div>類型：<select class="swal2-select w-300 h-50P b-r-5 b-grey" id="category-input">' +
          '<option value="" disabled="">請選擇類型</option>' +
          '<option value="機構" ' +
          (material.category == "機構" ? "selected" : "") +
          " >機構</option>" +
          '<option value="五金" ' +
          (material.category == "五金" ? "selected" : "") +
          " >五金</option>" +
          '<option value="光學" ' +
          (material.category == "光學" ? "selected" : "") +
          " >光學</option>" +
          '<option value="線材" ' +
          (material.category == "線材" ? "selected" : "") +
          " >線材</option>" +
          "</select></div>" +
          "</div><br>" +
          '<div>編號：<input id="name-input" class="swal2-input" value="' +
          material.name +
          '"></div><br>' +
          '<div>品名：<input id="code-input" class="swal2-input" value="' +
          material.code +
          '"></div><br>' +
          '<div>規格：<input id="standard-input" class="swal2-input" value="' +
          material.standard +
          '"></div><br>' +
          '<div>數量：<input id="quantity-input" class="swal2-input" value="' +
          material.quantity +
          '"></div><br>' +
          '<div>單位：<input id="unit-input" class="swal2-input" value="' +
          material.unit +
          '"></div><br>' +
          // '<div style="margin-right:60px">上傳圖片：<label class="btn btn-outline-secondary swal2-select w-200 h-50P b-r-5 b-grey" style="margin-left:20px;">上傳檔案<input id="file-input" type="file" style="display:none;"></label></div><br>' +
          // <p>{{files}}</p>
          '<div>備註：<textarea id="notes-input" class="swal2-textarea" >' +
          material.notes +
          "</textarea></div><br>",
        focusConfirm: false,
        preConfirm: () => {
          let categoryVal = document.getElementById("category-input").value;
          let nameVal = document.getElementById("name-input").value.trim();
          let codeVal = document.getElementById("code-input").value.trim();
          let standardVal = document.getElementById("standard-input").value;
          let quantityVal = document.getElementById("quantity-input").value;
          let unitVal = document.getElementById("unit-input").value;
          // let fileVal = document.getElementById("file-input").value; // let fileVal = document.getElementById("file-input").files[0].name;
          let notesVal = document.getElementById("notes-input").value;
          if (!nameVal) {
            Swal.showValidationMessage("需要填寫編號喔");
          } else if (!codeVal) {
            Swal.showValidationMessage("需要填寫品名喔");
          } else if (!standardVal) {
            Swal.showValidationMessage("需要填寫規格喔");
          } else if (!quantityVal) {
            Swal.showValidationMessage("需要填數量喔");
          } else if (!unitVal) {
            Swal.showValidationMessage("需要填單位喔");
          } else {
            // let selectedFile = document.getElementById("file-input");
            // selectedFile.addEventListener("click", function(e) {
            // let file = e.target.files[0].name;

            //讀取照片
            // let readFile = new FileReader();
            // readFile.readAsDataURL(file);
            // readFile.addEventListener("load", function(e) {
            //   let fileVal = e.target.result;
            //   console.log(fileVal);
            // });
            // });
            return {
              id: material.id,
              category: categoryVal,
              name: nameVal,
              code: codeVal,
              standard: standardVal,
              quantity: quantityVal,
              unit: unitVal,
              // files: fileVal,
              notes: notesVal,
            };
          }
        },
      });

      if (formValues) {
        this.editMaterial(formValues);
      }
    },
    search() {
      this.getMaterialOnPageOnKeywords(1);
      this.getTotalDataCountOnKeywords();
      this.searchBackBoolean = true;
    },
    searchBack() {
      this.keywords = "";
      this.searchBackBoolean = false;
      this.getMaterialOnPageOnKeywords(1);
      this.getTotalDataCountOnKeywords();
    },
    getLogginedUser() {
      getLogginedUser().then((response) => {
        if (response.code == 200) {
          this.loggedInUserLevel = response.data.level;
          this.loggedInUserId = response.data.id;

          if (this.loggedInUserLevel < 2) this.$router.push("/Login");
        }
      });
    },
    // Vue版 顯示上傳檔案的照片
    // selectedFile(e) {
    //   // console.log("hi");
    //   let file = e.target.files[0];
    //   // console.log(file);

    //   //讀取照片
    //   let readFile = new FileReader();
    //   // console.log(readFile);
    //   readFile.readAsDataURL(file);
    //   // console.log(file.name);
    //   // this.files = file.name;
    //   readFile.addEventListener('load', this.loadFile);
    // },
    // loadFile(e){
    //   this.files = e.target.result;
    // },
  },
  mounted() {
    this.getMaterialOnPageOnKeywords(1);
    this.getTotalDataCountOnKeywords();
    this.getLogginedUser();
  },
};
</script>

<style>
.w-300 {
  width: 300px;
}
.h-50P {
  height: 50px !important;
}
.b-r-5 {
  border-radius: 5px;
}
.b-grey {
  border-color: #d9d9d9;
}
.search-section {
  margin-right: 1px;
  margin-bottom: 10px;
}
/* .table > tbody > tr > td:nth-child(6) > img {
  width: 100%;
}
.table > tbody > tr > td:nth-child(6) {
  width: 15%;
} */
/* #file-input > img {
  width: 100%;
} */
</style>
