<template>
  <div class="container">
    <h2>人員 Staff</h2>

    <div>
      <button type="button" class="btn btn-info" @click="addUserModal">
        新增使用者
      </button>
    </div>
    <br />
    <div class="row float-right search-section">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="以帳號/名稱查詢"
          aria-label="Search"
           v-model="keywords"
        />
      </form>
      <button @click="search" class="btn btn-primary">搜尋</button>
      <button v-if="searchBackBoolean == true && this.keywords !== ''" @click="searchBack" class="btn btn-danger ml-1">返回</button>
    </div>
    <br>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>帳號</th>
          <th>名稱</th>
          <th>層級</th>
          <th>密碼</th>
          <th>編輯</th>
          <th>刪除</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td>{{ user.username }}</td>
          <td>{{ user.name }}</td>
          <td>
            <span v-if="user.level == 1">一般使用者</span>
            <span v-if="user.level == 2">管理者</span>
            <span v-if="user.level == 3">超級管理者</span>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-info"
              @click="resetToDefaultModal(user.id, user.name)"
            >
              回預設
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              @click="editUserModal(user)"
            >
              編輯
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              @click="deleteUserModal(user.id, user.name)"
            >
              刪除
            </button>
          </td>
        </tr>
      </tbody>
    </table>
     <paginate
      :page-count="pageNum"
      :page-range="3"
      :margin-pages="2"
      :click-handler="pageClick"
      :prev-text="'<'"
      :next-text="'>'"
      :container-class="'pagination'"
      :page-class="'page-item'"
    >
    </paginate>
  </div>
</template>

<script>
import Paginate from "vuejs-paginate-next";
import { getLogginedUser } from "../services/LoginService";

import {
  getUsersOnPageKeywords,
  addUser,
  deleteUser,
  editUser,
  resetUserPassword,
  getTotalDataCountOnKeywords
} from "../services/UserService";
import Swal from "sweetalert2";

export default {
  name: "Users",
   components: {
    paginate: Paginate,
  },
  data() {
    return {
      users: [],
      keywords: "",
      pageNum:1,
      loggedInUserLevel:0,
      searchBackBoolean: false,
    };
  },
  methods: {
    getUsersOnPageKeywords(page) {
      getUsersOnPageKeywords(page,this.keywords).then((response) => {
        this.users = response.data;
      });
    },
    deleteUser(userID) {
      deleteUser(userID).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "使用者刪除成功");
          this.getUsersOnPageKeywords(1);
        } else {
          this.toastMessage("error", "使用者刪除失敗");
        }
      });
    },
    editUser(data) {
      editUser(data).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "使用者編輯成功");
          this.getUsersOnPageKeywords(1);
        } else {
          this.toastMessage("error", "使用者編輯失敗");
        }
      });
    },

    addUser(data) { //formValues那包改叫data
      addUser(data).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "使用者新增成功");
          this.getUsersOnPageKeywords(1);
        } else {
          this.toastMessage("error", "使用者新增失敗");
        }
      });
    },
    resetUserPassword(userID) {
      resetUserPassword(userID).then((response) => {
        if (response.code == 200) {
          this.toastMessage("success", "使用者密碼重設成功");
          this.getUsersOnPageKeywords(1);
        } else {
          this.toastMessage("error", "使用者密碼重設失敗");
        }
      });
    },
    getTotalDataCountOnKeywords(){
      getTotalDataCountOnKeywords(this.keywords).then((response) => {
        this.pageNum = Math.ceil(response.data / 10);

      });
    },
    toastMessage(icon, title) {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener("mouseenter", Swal.stopTimer);
          toast.addEventListener("mouseleave", Swal.resumeTimer);
        },
      });

      Toast.fire({
        icon: icon,
        title: title,
      });
    },
    async deleteUserModal(id, name) {
      await Swal.fire({
        title: "確定要刪除 - " + name,
        showCancelButton: true,
        confirmButtonText: "確定",
        cancelButtonText: "取消",
      }).then((result) => {
        if (result.isConfirmed) {
          this.deleteUser(id);
        }
      });
    },
    async resetToDefaultModal(id, name) {
      await Swal.fire({
        title: "確定要重設 " + name + " 密碼回預設值",
        showCancelButton: true,
        confirmButtonText: "確定",
        cancelButtonText: "取消",
      }).then((result) => {
        if (result.isConfirmed) {
          this.resetUserPassword(id);
        }
      });
    },
    pageClick(pageClicked) {
      this.getUsersOnPageKeywords(pageClicked);
    },
    async addUserModal() { //新增user
      const { value: formValues } = await Swal.fire({ //打包成一包formValues
        title: "新增人員資訊",
        showCancelButton: true,
        cancelButtonText: "取消",
        confirmButtonText: "新增",
        html:
          '<div>帳號  ：<input id="username-input" class="swal2-input"></div><br>' +
          '<div>姓名：<input id="name-input" class="swal2-input"></div><br>' +
          '<div>密碼：<input id="password-input" class="swal2-input" value="chiper9101"></div><br>' +
          '<div>層級：<select class="swal2-select b-r-5 b-grey" id="level-input" ><option value="" disabled="">請選擇層級</option><option value="1">一般使用者</option><option value="2">管理者</option><option value="3">超級管理者</option></select></div>',
        focusConfirm: false,
        preConfirm: () => { //先處理好下面的資料
          let usernameVal = document.getElementById("username-input").value;
          let nameVal = document.getElementById("name-input").value;
          let levelVal = document.getElementById("level-input").value;
          let passwordVal = document.getElementById("password-input").value;
          if (!nameVal) {
            Swal.showValidationMessage(
              '<i class="fa fa-info-circle"></i>需要填寫姓名喔'
            );
          } else if (!usernameVal) {
            Swal.showValidationMessage(
              '<i class="fa fa-info-circle"></i>需要填寫名稱喔'
            );
          } else if (!passwordVal) {
            Swal.showValidationMessage(
              '<i class="fa fa-info-circle"></i>需要填寫密碼喔'
            );
          } else {
            return {
              name: nameVal,
              username: usernameVal,
              password: passwordVal,
              level: levelVal,
            };
          }
        },
      });

      if (formValues) {
        this.addUser(formValues); //把formValues這包傳到addUser
        // console.log(formValues);
      }
    },
    async editUserModal(user) { //編輯user
      const { value: formValues } = await Swal.fire({
        title: "編輯人員資訊",
        showCancelButton: true,
        cancelButtonText: "取消",
        confirmButtonText: "儲存",
        html:
          '<div>帳號：<input id="username-input" class="swal2-input" value="' +
          user.username +
          '"></div><br>' +
          '<div>姓名：<input id="name-input" class="swal2-input" value="' +
          user.name +
          '"></div><br>' +
          "<div>層級：" +
          '<select class="swal2-select b-r-5 b-grey" id="level-input">' +
          '<option value="" disabled="">請選擇層級</option>' +
          '<option value="1" ' +
          (user.level == 1 ? "selected" : "") +
          " >一般使用者</option>" +
          '<option value="2" ' +
          (user.level == 2 ? "selected" : "") +
          " >管理者</option>" +
          '<option value="3" ' +
          (user.level == 3 ? "selected" : "") +
          ">超級管理者</option>" +
          "</select></div>",
        focusConfirm: false,
        preConfirm: () => {
          let nameVal = document.getElementById("name-input").value;
          let usernameVal = document.getElementById("username-input").value;
          let levelVal = document.getElementById("level-input").value;
          if (!nameVal) {
            Swal.showValidationMessage(
              '<i class="fa fa-info-circle"></i>需要填寫姓名喔'
            );
          } else if (!usernameVal) {
            Swal.showValidationMessage(
              '<i class="fa fa-info-circle"></i>需要填寫名稱喔'
            );
          } else {
            return {
              id: user.id,
              name: nameVal,
              username: usernameVal,
              level: levelVal,
            };
          }
        },
      });

      if (formValues) {
        this.editUser(formValues);
      }
    },
    getLogginedUser() {
      getLogginedUser().then((response) => {
        if(response.code==200){
          this.loggedInUserLevel = response.data.level;
          if(this.loggedInUserLevel<3)
            this.$router.push("/Login");
        }
      }).catch((error) => {
        console.log(error)
        this.$router.push("/Login");
      });
    },
    search() {
      this.getUsersOnPageKeywords(1);
      this.getTotalDataCountOnKeywords();
      this.searchBackBoolean = true;
    },
    searchBack() {
      this.keywords = "";
      this.searchBackBoolean = false;
      this.getUsersOnPageKeywords(1);
      this.getTotalDataCountOnKeywords();
    },
  },
  mounted() {
    this.getUsersOnPageKeywords(1);
    this.getTotalDataCountOnKeywords();
    this.getLogginedUser();
  },
};
</script>

<style>
.w-300 {
  width: 300px;
}
.h-50 {
  height: 50px !important;
}
.b-r-5 {
  border-radius: 5px;
}
.b-grey {
  border-color: #d9d9d9;
}
.search-section{
  margin-right:1px;
  margin-bottom:10px;
}
#level-input {
  height: 50px;
}
</style>

